.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-header{
  font-size: 18px;
}

.employee-item{
  border: solid 2px blue;
  margin:5px;
  display: block;
  float: left;
  cursor:pointer;
  width: 30%;
}

.employee-img {
  float: left;
  padding-right: 10px;
}

.employee-name{
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.employee-details{
  display: block;
  min-width: 50%;
}

.employee-age{
  display: block;
}

.employee-job{
  display: block;

}
